

        body {
          background-color: #FEFBF3;
          margin: 0;
          text-align: center;
          font-family: 'Merriweather', serif;
          color: #40514E;
        }

        ul {
          list-style-type: none;
          margin-right: 20px;
          padding: 0 0 0 190px;
          overflow: hidden;
          background-color: #F8F0DF;
          font-family: 'Merriweather', serif;
          font-weight: round;
          text-align: center;
          width: 100%;
        }

        li {
          float: left;
          text-align: center;
        }

        li a {
          display: block;
          padding: 50px 40px 50px;
          text-decoration: none;
          text-align: center;
          background-color: #F8F0DF;
          color: #8E806A;
          font-size: 25px;
          margin-top: 15px;
        }

        li a:hover {
          background-color: #E7D4B5;
          opacity: 0.5;
          color: black;
          text-align: center;
          box-shadow: 0 0 20px 5px #CDBBA7;
        }

        li.lili a {
          padding: 30px 40 px;
          background-color: navy;
          color: whitesmoke;
        }

        li.lili a:hover {
          background-color: white;
          color: navy;
        }

        ul.ulul {
          list-style-type: none;
          margin: 0;
          padding: 10px 81px;
        }

        .wrap {
          text-align: center;
          padding: 200px 0;
          background-color: #FEFBF3;
          position: relative;
        }

        .image1 {
          background-color: white;
          height: 200px;
          width: 200px;
          text-align: left;
          display: inline-block;
          margin-right: 50px;
          box-shadow: 0 0 20px 5px green;
        }

        .image2 {
          background-color: white;
          height: 200px;
          width: 200px;
          display: inline-block;
          color: #1A2B6B;
          box-shadow: 0 0 20px 5px #950101;
        }

        .image3 {
          background-color: white;
          height: 200px;
          width: 200px;
          display: inline-block;
          color: #1A2B6B;
          margin-left: 50px;
          box-shadow: 0 0 20px 5px #950101;
        }

        .logo {
          margin-right: 10px;
          width: 200px;
        }

        h2 {
          padding: 50px 600px;
        }

        img.vaccine {
          border: solid blue;
        }

        img.nyc {
          border: solid blue;
        }

        script.newsembed {
          font-family: sans-serif;
          font-size: 30px;
        }

        p.para {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.5rem;
          font-weight: normal;
          width: 70%;
          margin: 10px auto 200px auto;
          text-align: left;
          text-indent: 40px;
          /*font-weight: 100;*/
        }

        h1 {
          text-align: center;
          color: #8E806A;
          font-family: 'Montserrat', sans-serif;
          font-size: 2.5rem;
          font-weight: normal;
          line-height: 1;
        }


        h4 {
          padding: 10px 575px;
        }

        .myDiv {
          position: relative;
          background-color: white;
          line-height: 2;
          padding-top: 10px;
          margin: 10px 100px 50px 100px;
        }

        u1.navbar {
          position: absolute;
          top: 2em;
          left: 1em;
          width: 100%;
          color: #3ac9ad;
        }
